# PYTHON
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env
.env.*

# NODE / FRONTEND
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
